name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y pkg-config libudev-dev libfontconfig-dev

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview, clippy, rustfmt

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Cache Rust dependencies and tools
        uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --workspace --locked --all-targets --no-default-features --features derive

      - name: Test coverage
        run: |
          cargo llvm-cov --workspace --locked --no-default-features --features derive
          cargo llvm-cov report --codecov --output-path cov.json

      - name: Upload coverage report to Codecov
        if: ${{ (github.event_name != 'pull_request') || (github.event.pull_request.head.repo.fork == false) }}
        uses: codecov/codecov-action@v5
        with:
          files: ./cov.json
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}